html, body, #root {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  flex-direction: column;
  color: rgb(90, 90, 90);
  width: 100%;
  min-width: 100%;
  max-width: initial;
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 100%;
  position: initial;
  min-height: 100vh;
}

.header {
  background-color: rgb(37, 206, 209);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.8rem;
}

h1 {
  font-size: 32px;
  width: 100%;
  text-align: center;
} 

.message-list {
  bottom: 0;
  background-color: rgb(202, 201, 201);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden auto;
  overflow-y: auto;
  height: 100%;
  position: relative;
  padding-top: 1em;
  font-size: 1em;
  padding: 0.8rem;
}

.float-left {
    align-self: flex-start;
    max-width: 70%;
}

.float-right {
    align-self: flex-end;
    max-width: 70%;
}

.background-left {
  background-color: #262D31;
  border-radius: 0px 1em 1em 1em;
}

.background-right {
  background-color: #1A4740;
  border-radius: 1em 0px 1em 1em;
}

.bubble {
  color: #ffffff;
  margin: 5px;
  padding: 10px;
}